.logoNav img{
    width: 150px;
    height: 100px;
}

.navbar{
    display:flex;
    justify-content: space-between;
    background-color: #5FBE6D;
    padding: 1em;
}

.list{
    display: flex;

    /* tira a bolinha a esquerda onde fica os itens em lista */
    list-style: none; 
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: #fff;

    /* tira o sublinhado do link */
    text-decoration: none;   
}

.item a:hover{
    color: #175921;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown span {
    color: #fff;
}

.arrowDropDown{
    width:15px;
    height:10px;
}

.dropdown span:hover {
    color: #175921;
}

.dropdownMenu {
    position: absolute;
    top: 35px;
    right:-50px;
    border-radius:20px;
    background: #5DA84E;
    list-style: none;
    padding: 0.5em 0;
    min-width: 180px;
}

.dropdownMenu li {
    padding: 0.5em 1em;
}

.dropdownMenu li a {
    color: white;
    text-decoration: none;
}

.dropdownMenu li a:hover {
    color: #175921;
}